.no-supports-container .fl-menu-bottom-bar {
  padding-bottom: 65px;
  padding-bottom: calc(65px + env(safe-area-inset-bottom));
}

.supports-container .fl-page-content-wrapper {
  padding-bottom: 65px;
}

[data-has-notch].no-supports-container body,
[data-has-notch].supports-container .fl-page-content-wrapper {
  padding-bottom: 99px;
}

[data-has-notch].supports-container body {
  padding-bottom: 0;
}

body.disableScroll {
  overflow: hidden;
}

[data-fl-widget-instance][data-type="menu"] {
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  height: 65px;
  z-index: 1009;
}

.fl-bottom-bar-menu-holder {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  color: rgba(255,255,255,0.5);
  padding: 0;
  pointer-events: none;
  transform: translate3d(0, -65px, 0);
  transform: translate3d(0, calc(-65px - env(safe-area-inset-bottom)), 0);
  transition: transform 0.2s ease-out;
}

.fl-bottom-bar-menu-holder ul {
  pointer-events: all;
  background-color: #333333;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.2s ease-out;
}

.fl-bottom-bar-menu-holder.expanded,
[data-has-notch] .fl-bottom-bar-menu-holder.expanded,
.fl-bottom-bar-menu-holder.expanded ul {
  transform: translate3d(0, 0, 0);
  overflow-y: auto;
  height: 100%;
}

[data-has-notch] .fl-bottom-bar-menu-holder {
  transform: translate3d(0px, -99px, 0);
}

.fl-bottom-bar-menu-holder-tablet {
  display: none;
}
.fl-bottom-bar-menu-holder-mobile {
  display: block;
}

.fl-bottom-bar-menu-holder ul {
  max-width: none;
  padding: 0;
  margin: 0;
  padding-bottom: env(safe-area-inset-bottom);
  list-style-type: none;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

[data-has-notch] .fl-bottom-bar-menu-holder ul {
  padding-bottom: 34px;
}

.fl-bottom-bar-menu-holder.multiple ul {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.fl-bottom-bar-menu-holder ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 20%;
  line-height: 1.42857143;
  margin-bottom: 5px;
  height: 65px;
  padding: 8px 4px;
  background-color: transparent;
  overflow: hidden;
}

.fl-bottom-bar-menu-holder ul li .notification-badge {
  top: -8px;
  right: -11px;
  padding: 0 4px;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  box-shadow: none;
}

.fl-bottom-bar-menu-holder.expanded ul li[data-show-more] .notification-badge {
  display: none;
}

.fl-bottom-bar-menu-holder ul li[data-show-more] ~ li {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fl-bottom-bar-menu-holder ul li[data-show-more] .fa {
  font-size: 18px;
  margin-top: -30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: rotate(0) translate3d(0, 0, 0);
  transform: rotate(0) translate3d(0, 0, 0);
}

.fl-bottom-bar-menu-holder.expanded ul li[data-show-more] .fa {
  -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
  transform: rotate(180deg) translate3d(0, 0, 0);
}

.fl-bottom-bar-menu-holder ul li[data-show-more] .fl-menu-title .hide,
.fl-bottom-bar-menu-holder.expanded ul li[data-show-more] .fl-menu-title .more {
  display: none;
}

.fl-bottom-bar-menu-holder.expanded ul li[data-show-more] .fl-menu-title .hide {
  display: inline !important;
}

.fl-bottom-bar-menu-holder.expanded ul li[data-show-more] ~ li {
  pointer-events: all;
  opacity: 1;
}

.fl-bottom-bar-menu-holder-tablet ul li {
  width: 12.5%;
}

.fl-bottom-bar-menu-holder li .fl-bottom-bar-icon-holder {
  max-height: 50px;
  position: relative;
  overflow: visible;
  max-width: 100%;
  cursor: pointer;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-direction: normal;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fl-bottom-bar-menu-holder .fl-bottom-bar-icon-holder .fl-menu-icon {
  margin-bottom: 6px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-direction: normal;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fl-bottom-bar-menu-holder li.active {
  background-color: transparent;
}

.fl-bottom-bar-menu-holder li.active .fl-menu-icon {
  color: #00abd1;
}

.fl-bottom-bar-menu-holder .fl-menu-icon .fa {
  position: relative;
  font-size: 27px;
}

.fl-bottom-bar-menu-holder .fl-menu-title {
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fl-bottom-bar-menu-holder li.active .fl-menu-title {
  color: #00abd1;
}

@media screen and (min-width: 640px) {
  .fl-bottom-bar-menu-holder ul {
    padding-left: 10%;
    padding-right: 10%;
  }

  .fl-bottom-bar-menu-holder-tablet {
    display: block;
  }

  .fl-bottom-bar-menu-holder-mobile {
    display: none;
  }

  .fl-bottom-bar-menu-holder .fl-menu-title {
    font-size: 10px;
  }
}

/* Removes arrow from navigate.js appended Exit App menu item */
[data-fl-exit-app] {
  font-size: 8px;
  text-transform: uppercase;
  opacity: 0.7;
}

[data-fl-exit-app] .fa-angle-right.linked-icon {
  display: none;
}

.slide-over {
  padding-bottom: 65px;
  padding-bottom: calc(65px + env(safe-area-inset-bottom));
}

[data-has-notch] .slide-over {
  padding-bottom: calc(65px + 34px);
}

.hide-scroll {
  overflow: hidden;
}
